package component

templ NotFound() {
	@Layout(LayoutProps{
		HTMLTitle: "Petrichor MUD",
		Meta:      "Petrichor MUD - a modern take on a classic",
		Theme:     "dark",
	}) {
		<main>Not Found</main>
	}
}
