package component

type ButtonProps struct {
	Text string
	Path templ.SafeURL
}

templ Button(in ButtonProps) {
	if len(in.Path) > 0 {
		<a href={ in.Path } class="button button-primary">{ in.Text }</a>
	} else {
		<button type="button" class="button button-primary">{ in.Text }</button>
	}
}
