package component

templ Home() {
	@Layout(LayoutProps{
		HTMLTitle: "Petrichor MUD",
		Meta:      "Petrichor MUD - a modern take on a classic",
		Theme:     "dark",
	}) {
		<main class="flex flex-col items-center justify-center">
			<div class="w-full text-fg md:w-[750px] md:px-4 lg:w-[1000px]">
				<h1 class="text-xl font-semibold">Pardon Our Dust</h1>
			</div>
		</main>
	}
}
