package component

templ Home() {
	@Layout(LayoutProps{
		HTMLTitle: "Petrichor MUD",
		Meta:      "Petrichor MUD - a modern take on a classic",
		Theme:     "dark",
	}) {
		<main>
			Home
			<br/>
			@Test()
		</main>
	}
}
