package components

templ ErrInternal() {
	@Layout(LayoutProps{
		HTMLTitle: "Petrichor MUD",
		Meta:      "Petrichor MUD - a modern take on a classic",
		Theme:     "dark",
	}) {
		<main>Internal Server Error</main>
	}
}
