package components

templ Nav() {
	<nav
		class="relative flex w-full max-w-10xl items-center justify-start px-6 py-2"
	>
		<a href="/" class="flex items-center justify-center">
			<iconify-icon
				icon="wi:raindrop"
				class="mr-auto hover:text-primary/90"
				height="48"
				width="48"
			></iconify-icon>
		</a>
		<ul
			class="group ml-auto flex list-none items-center justify-center gap-1 space-x-[1.5]"
		>
			@Button(ButtonProps{Text: "Play", Path: "/play"})
		</ul>
	</nav>
}
